* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  --bg-color: hsl(257, 40%, 49%);
  --text-color: hsl(0, 0%, 100%);
  --button-bg-color: hsl(0, 0%, 100%);
  --button-text-color: hsl(257, 40%, 49%);
  --button-hover-bg-color: hsl(300, 69%, 71%);
  --button-hover-text-color: hsl(0, 0%, 100%);
  --link-color: hsl(0, 0%, 100%);
  --link-hover-color: hsl(322, 100%, 66%);
}

/* Typography */
body {
  color: hsl(0, 0%, 100%);
  color: var(--text-color);
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 1000px) {
  body {
    text-align: left;
  }
}

h1,
button {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
@media (min-width: 1000px) {
  p {
    font-size: 1.125rem;
  }
}

a {
  transition: color 0.2s ease;
}
a:link, a:visited {
  color: hsl(0, 0%, 100%);
  color: var(--link-color);
}
a:-moz-any-link {
  color: hsl(0, 0%, 100%);
  color: var(--link-color);
}
a:any-link {
  color: hsl(0, 0%, 100%);
  color: var(--link-color);
}
a:hover {
  color: hsl(322, 100%, 66%);
  color: var(--link-hover-color);
}

/* Page styles */
body {
  background-color: hsl(257, 40%, 49%);
  background-color: var(--bg-color);
  background-image: url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 2.375rem 2.1875rem 2.5rem;
}
@media (min-width: 751px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-position: left center;
    background-size: auto;
  }
}
@media (min-width: 1000px) {
  body {
    padding: 4rem 5.3125rem 2.5rem 5rem;
  }
}

img {
  max-width: 100%;
}

.header {
  margin-bottom: 4.375rem;
  text-align: left;
  margin-left: 0.3125rem;
  font-size: 0;
}
@media (min-width: 1000px) {
  .header {
    margin-left: 0;
    margin-bottom: 6.5rem;
  }
}

.header-logo {
  width: 7.5rem;
}
@media (min-width: 1000px) {
  .header-logo {
    width: 12.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  margin-bottom: 4rem;
}
@media (min-width: 1000px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    gap: 3.6875rem;
    margin-bottom: 1.6875rem;
  }
}

.main-img-container {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  width: 100%;
  max-width: 23.75rem;
}
@media (min-width: 1000px) {
  .main-img-container {
    padding: 0;
    max-width: 43.5rem;
    flex-shrink: 2;
    align-self: center;
  }
}

.main-hero-img {
  width: 100%;
}

.main-content {
  max-width: 37.5rem;
}
@media (min-width: 1000px) {
  .main-content {
    padding-top: 2rem;
    /* width: 520px; */
    flex: 0 1 32.5rem;
  }
}

.main-heading {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  .main-heading {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.main-paragraph {
  margin-bottom: 1.5rem;
}

.main-button {
  background-color: hsl(0, 0%, 100%);
  background-color: var(--button-bg-color);
  color: hsl(257, 40%, 49%);
  color: var(--button-text-color);
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0.6875rem 4.6875rem;
  border: 0;
  border-radius: 1.25rem;
  box-shadow: 0.0625rem 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.27);
  cursor: pointer;
  transition: all 0.2s ease;
}
.main-button:hover {
  background-color: hsl(300, 69%, 71%);
  background-color: var(--button-hover-bg-color);
  color: hsl(0, 0%, 100%);
  color: var(--button-hover-text-color);
}
@media (min-width: 1000px) {
  .main-button {
    font-size: 1.125rem;
    border-radius: 1.75rem;
    padding: 0.875rem 4rem;
    box-shadow: 0.125rem 0.25rem 0.5625rem 0.1875rem rgba(0, 0, 0, 0.26);
  }
}

.footer-social {
  display: flex;
  gap: 0.6875rem;
  justify-content: center;
}
.footer-social a {
  display: flex;
  border: 0.0625rem solid currentColor;
  border-radius: 50%;
  width: 1.75rem;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1000px) {
  .footer-social a {
    width: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .footer-social {
    gap: 1rem;
    justify-content: flex-end;
  }
}

.social-fb {
  width: 0.38169rem;
  height: 0.83125rem;
}
@media (min-width: 1000px) {
  .social-fb {
    width: 0.5625rem;
    height: 1.1875rem;
  }
}

.social-twitter {
  width: 0.8125rem;
}
@media (min-width: 1000px) {
  .social-twitter {
    width: 1.125rem;
  }
}

.social-insta {
  width: 0.8125rem;
}
@media (min-width: 1000px) {
  .social-insta {
    width: 1.1875rem;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}